*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
color:white;
}

.container{
width:500px;
padding:40px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(20px);
border-radius:25px;
text-align:center;
box-shadow:0 0 30px rgba(0,255,255,0.3);
}

h1{
margin-bottom:30px;
color:cyan;
}

.circle{
width:280px;
height:280px;
margin:auto;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
border:8px solid cyan;
box-shadow:
0 0 20px cyan,
0 0 50px cyan;
margin-bottom:30px;
}

.time{
font-size:38px;
font-weight:bold;
}

.buttons{
display:flex;
flex-wrap:wrap;
gap:15px;
justify-content:center;
}

button{
padding:15px 25px;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;
transition:.4s;
}

button:hover{
transform:translateY(-5px);
box-shadow:0 0 20px white;
}

#startBtn{
background:#00c853;
color:white;
}

#pauseBtn{
background:#ff9800;
color:white;
}

#lapBtn{
background:#2196f3;
color:white;
}

#resetBtn{
background:#f44336;
color:white;
}

.laps{
margin-top:30px;
max-height:200px;
overflow-y:auto;
}

ul{
list-style:none;
}

li{
padding:10px;
margin-top:10px;
background:rgba(255,255,255,.1);
border-radius:10px;
}

@media(max-width:600px){

.container{
width:95%;
}

.circle{
width:220px;
height:220px;
}

.time{
font-size:28px;
}

}